:root {
    --wrapper-offset: 50px;
    --header-height: 60px;
    --color-border: #292E3D;

    --color-accent: #FF7235;
    --trans-dur: 0.4s;
    

    --color-white: #fff;
    --color-text-main: #292930;
    --color-text-gray: #BDBDBD;
    --color-beige: #FFFAF8;
    --color-hero-background: #FFFAF8;
    
}