@media screen and (max-width: 1023px) {
	.product__head {
		column-gap: 20px;
		margin-bottom: 40px;
	}
	.product__title {
		font-size: 56px;
		width: 48%;
	}
}

@media screen and (max-width: 767px) {
	.product__head {
		flex-direction: column;
		row-gap: 20px;
	}

	.product__title {
		font-size: 46px;
		width: 100%;
	}

	.product__content {
		flex-direction: column;
		row-gap: 20px;;
	}

	.product_item {
		width: 100%;
		min-height: auto;
	}
}