.footer {
    padding: 110px 0;
  }

.footer_top {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding-bottom: 40px;
}

.footer_top:not(:last-child) {
    border-bottom: 1px solid #BDBDBD33;
}

.footer_nav {
    display: block;
}

.footer__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
}

.footer_nav__item:not(:last-child) {
    margin-bottom: 8px;
}

.footer_nav__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    white-space: nowrap;
    line-height: 30px;
    color: var(--color-text-main);
    text-decoration: none;
    transition: color var(--trans-dur) ease-in-out;
}

.footer_nav__link:hover,
.footer_nav__link:active,
.footer_nav__link:focus {
    color: var(--color-accent);
}

.footer_newsletter__sup {
    margin-bottom: 18px;
    color: var(--color-text-gray);
    font-size: 20px;
}

.footer_newsletter__form {
    margin-bottom: 10px;
}

.footer_newsletter__sub {
    color: var(--color-text-gray);
    font-size: 14px;
}

.newsletter_form {
    display: flex;
    border: 1px solid #292830;
    border-radius: 8px;
    height: 62px;
    align-items: center;
    padding-right: 6px;
}


.newsletter_form__input {
    border: none;
    height: 100%;
    border-radius: inherit;
    padding: 0 16px 0 22px;

    font-size: 18px;
    line-height: 62px;
}

.newsletter_form__input::placeholder {
    color: var(--color-text-main)

}

.newsletter_form__btn {
    margin-left: auto;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding-top: 20px;
}

.footer_bootom_nav {
    display: flex;
    column-gap: 24px;
    }


.footer_bootom_nav__link {
    font-size: 14px;
    text-decoration: none;
    color: var(--color-text-main);
    transition: color var(--trans-dur) ease-in-out;
    }

.footer_bootom_nav__link:hover,
.footer_bootom_nav__link:active,
.footer_bootom_nav__link:focus {
    color: var(--color-accent);
    }

.footer_copy {
    font-size: 14px;
}

.socials {
    display: flex;
    column-gap: 14px;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  color: var(--color-text-main);
  transition: color var(--trans-dur) ease-in-out;
}

.socials__item:hover,
.socials__item:active,
.socials__item:focus {
    color: var(--color-accent) !important;
}

.socials__item svg {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    fill: currentColor;
}
  



        




